.devices {
    background-color: $gray-100;
    
    .container {
        display: flex;
        padding-top: 20px;
        gap: 80px;
        
       
        
        align-items: center;
        justify-content: center;
        
        .any-device {


             
        }
        

        
    }
}