.features {
  
    text-align: center;
    padding: 70px 0;
    background-color: $gray-100;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 40px;
    }

    .tool-features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .box {
            width: calc(33.33% - 20px); // 33.33% för tre kolumner, minus marginalen
            margin: 10px;
            text-align: center;

            img {
                max-width: 100px; // Justera efter behov
                height: auto;
            }

            h5 {
                margin-top: 10px;
                margin-bottom: 5px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}
