.pages-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
  

  .container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    .pages{

        display: flex;
        justify-content: center;
        align-items: center;
   

  .number {
   
    padding: 10px;
    margin: 5px;
 
  }
}
}
}