
@model HomeIndexViewModel



    @await Html.PartialAsync("~/Views/Shared/Sections/_Showcase.cshtml", Model.Showcase)


<section id="features">
    <partial name="~/Views/Shared/Sections/_Features.cshtml" />
</section>

<section id="mood">
    <partial name="~/Views/Shared/Sections/_Mood.cshtml" />
</section>

<section id="manage">
    <partial name="~/Views/Shared/Sections/_Manage.cshtml" />
</section>

<section id="devices">
    <partial name="~/Views/Shared/Sections/_Devices.cshtml" />
</section>

<section id="tools">
    <partial name="~/Views/Shared/Sections/_Tools.cshtml" />
</section>

<section id="newsletter">
    <partial name="~/Views/Shared/Sections/_Newsletter.cshtml" />
</section>



