<section class="devices">

    <div class="container">
        <img class="devices-image" src="images/devices.svg">

        <div class="any-device">
            <h1>Download Our App <br> for Any Devices:</h1>

            <div class="any-devices">

                <div class="rating">
                    <p>App Store</p>
                    <img src="images/rating.svg">
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K+ reviews</p>

                </div>
                <img class="store" src="images/appstor.svg">
            </div>

            <div class="any-devices">

                <div class="rating">
                    <p>Google Play</p>
                    <img src="images/rating.svg">
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30K+ reviews</p>

                </div>
                <img class="store" src="images/googleplay.svg">
            </div>

        </div>

    </div>
</section>