<section class="manage">
    <img class="manage-part" src="images/manage.svg" alt="">
    <div class="container">
        <h2>Manage Your Work</h2>
        <div class="box">
            <img src="images/bx-check-circle.svg">
            <p>Powerful project management</p>
        </div>

        <div class="box">
            <img src="images/bx-check-circle.svg">
            <p>Transparent work management</p>
        </div>

        <div class="box">
            <img src="images/bx-check-circle.svg">
            <p>Manage work & focus on the most important tasks</p>
        </div>

        <div class="box">
            <img src="images/bx-check-circle.svg">
            <p>Track your progress with interactive charts</p>
        </div>

        <div class="box">
            <img src="images/bx-check-circle.svg">
            <p>Easiest way to track time spent on tasks</p>
        </div>
        <a class="btn-theme" href="#"><span>Learn more</span><i class="fa-solid fa-arrow-right"></i></a>
    </div>
</section>
