<section class="newsletter">
    <div class="container">
        <div class="title">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="images/icons/arrows.svg">
        </div>
        <div class="letter-tools">
            <h5>Sign up for<br> Newsletters</h5>

            <div class="checkbox-container">

                <div class="checkbox">
                    <input type="checkbox" id="myCheckbox1">
                    <label for="myCheckbox">Daily Newsletter</label>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="myCheckbox2">
                    <label for="myCheckbox">Advertising Updates</label>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="myCheckbox3">
                    <label for="myCheckbox">Week in Review</label>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="myCheckbox4">
                    <label for="myCheckbox">Event Updates</label>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="myCheckbox5">
                    <label for="myCheckbox">Startups Weekly</label>
                </div>

                <div class="checkbox">
                    <input type="checkbox" id="myCheckbox6">
                    <label for="myCheckbox">Podcasts</label>
                </div>

            </div>
        </div>

        <div class="email-box">
            <input type="email" id="emailInput" placeholder="Your Email...">
            <a class="btn-theme-s" href="#">Subscrib*</a>
        </div>

        <div class="terms">
            <div class="terms">
                <p>* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</p>
            </div>


        </div>

    </div>

</section>